@import "./mixins.scss";

$fontSize: 16px;


$pageWidth: 820px;
$borderRadius-s: 2px;
$borderRadius-m: 4px;
$borderRadius-l: 6px;

$headerBgColor: lightgoldenrodyellow;
$footerBgColor: lightgoldenrodyellow;

